#heartbeat-physics-container {
    transition: none !important;
}

#heartbeat-pixel-icon {
    image-rendering: pixelated;
    transition: transform 0.1s ease-out;
}

#heartbeat-progress-mini {
    box-shadow: 2px 2px 0px #000;
}
